#-*-Makefile-*- vim:syntax=make
#$Id$

PLATFORM = null
PFLAGS += -finline-limit=100000

$(call TOSMake_include_platform,null)

null: $(BUILD_DEPS)
	@:

