#-*-Makefile-*- vim:syntax=make

PLATFORM = stm32-p103

ifdef CC2420_CHANNEL
PFLAGS += -DCC2420_DEF_CHANNEL=$(CC2420_CHANNEL)
endif

#ASSEMBLY_FILES += $(TOSDIR)/platforms/$(PLATFORM)/toscrt0.s $(TOSDIR)/chips/stm32/stm32_util.s
CFLAGS += -DSTM32 -T$(TOSDIR)/platforms/$(PLATFORM)/tos.x 

$(call TOSMake_include_platform,stm32)

stm32-p103: $(BUILD_DEPS)
	@:


